*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caudex', serif;
}


/* HOMEPAGE*/

/* Secciones */
.tituloHome{
    font-size: 3em;
    text-transform: capitalize;
}

.tituloHome2 {
    font-size: 3rem;
}

.fondo {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23d9bd00' fill-opacity='0.19' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.imagenMaradona {
    box-shadow: 0px 0px 12px white;
    border-radius: 5px;
}

.jugadores {
    box-shadow: 0px 0px 12px black;
}

.anchoAlto {
    width: 100%;
    height: 100%;
}

.opacidad:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.botoncito {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    max-width: 150px;
    margin: auto;
}

.iconos {
    color: rgb(255, 255, 255);
    font-size: 4rem;
}

/* ITEMS */

.items {
    border-radius: 7%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.items:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.disabled {
    opacity: 0.5;
}

.paginador {
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 5px;
}

.active {
    border-radius: 40px;
}


.botonVolver{
    width: 70%;
    margin: auto;
}

/* FORM */

.campoForm {
    box-shadow: 1px 1px 3px goldenrod;
}

.textoAclaracion {
    text-align: center;
    max-width: 70%;
    margin: auto;
    border: 3px solid black;
    padding: 0.8rem;
    box-shadow: 3px 3px 10px black;
}

.textoAclaracion:hover {
    box-shadow: 3px 3px 10px red;
}

.pele {
    height: 600px;
    width: 100%;
}

.form-help {
    font-size: 0.8 rem;
    color: gray;
}

/* 404 */

.maradona {
    height: 800px;
    width: 100%;
}

.error {
    font-size: 15rem;
}